# dependencies
node_modules

# testing
coverage

# build
dist

# env / editor
.DS_Store
.env
.env.*
!.env.example
.idea
.vscode/*
!.vscode/extensions.json

# generated manifest
public/manifest.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*
